<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- For downloading talks -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- For keeping android from killing our app when playing talks in the background with screen off -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- For displaying a notification to the user when a talk is playing -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <service
            android:name=".PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <activity
            android:name=".NavigationActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayTalkActivity"
            android:label="@string/play_talk_label"
            android:parentActivityName="org.dharmaseed.android.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dharmaseed.android.NavigationActivity" />
        </activity>
        <activity
            android:name=".RetreatSearchActivity"
            android:label="@string/retreat_search_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dharmaseed.android.NavigationActivity" />
        </activity>

    </application>




</manifest>